name: Deploy to ECS Fargate

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-south-1

    - name: Login to Amazon ECR
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build Docker image
      run: |
        docker build -t titacapp .

    - name: Tag image
      run: |
        docker tag titacapp:latest ${{ secrets.ECR_REPO }}:latest

    - name: Push image to ECR
      run: |
        docker push ${{ secrets.ECR_REPO }}:latest

    - name: Deploy to ECS
      run: |
        aws ecs update-service \
          --cluster my-fargate-cluste1 \
          --service titacapp-service-kekk0oby \
          --force-new-deployment
